/* Reset styles */
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Moving text animation */
.moving-text-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%; /* Set the width to 100% or adjust as needed */
}

.moving-text {
  position: absolute;
  top: 0;
  left: 0; /* Start from the left edge */
  width: 200%; /* Increase container width for larger effect */
  animation: moveText 20s linear infinite; /* Adjust the animation duration */
}

@keyframes moveText {
  0% {
    transform: translateX(100%); /* Move from right to left */
  }
  100% {
    transform: translateX(-100%); /* Move out on the left */
  }
}

/* Preheader bar */
.site-preheader {
  width: 100%;
  background-color: #000000;
  color: #fffaed;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

/* Container */
.container {
  background: #fffaee;
  font-family: Futura, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-weight: 400;
}

/* Headings */
h1 {
  padding-left: 10px;
  font-size: 50px;
  text-align: center;
}

h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
}

/* Links */
a:visited, a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
  color: #7dcade;
}

/* Lists */
ul {
  display: block;
  margin: auto;
  padding: 0;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li {
  margin-right: 40px;
}

/* Buttons */
button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 14px;
  cursor: pointer;
}

button:active {
  background-color: black;
  transform: translateY(2px);
}

/* Education section */
.edu {
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Information section */
.info {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 25px;
  text-align: center;
  font-size: 18px;
}

/* Code blocks */
code {
  background: #fffaee;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

/* Scrollbar styles */
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  main {
    padding: 20px;
  }

  .info {
    margin-bottom: 10px;
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }
  
  a {
    margin-bottom: 5px;
  }
}
