/* Reset styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Moving text animation */
.moving-text-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 25px;
}

.moving-text {
  position: absolute;
  top: 0;
  right: 0%;
  /* Start from the right edge, outside the container */
  width: 100%;
  /* Increase container width for larger effect */
  animation: moveText 12s linear infinite;
  font-size: 20px;
}

@keyframes moveText {
  0% {
    transform: translateX(70%);
    /* Move from right to left */
  }

  100% {
    transform: translateX(-100%);
    /* Move out on the left */
  }
}

/* Preheader bar */
.site-preheader {
  width: 100%;
  background-color: #000000;
  color: #fffaed;
  text-align: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Container */
.container {
  background: #fffaee;
  font-family: Futura, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-weight: 400;
  flex: 1;
}


/* Headings */
.header {
  position: relative;
  /* Ensure the header is positioned relatively */
}

h1 {
  padding-left: 10px;
  font-size: 70px;
  text-align: center;
}

/* Links */
.links {
  display: flex;
  flex-direction: column; /* Display links vertically */
  align-items: center; /* Center links horizontally */
}

.link-pair {
  display: flex;
  flex-direction: column; /* Display the links vertically in pairs */
  align-items: center; /* Center content horizontally */
  margin: 0 15px; /* Add spacing between link-pairs */
}

.links a {
  font-size: 25px;
  margin: 0 15px;
}

h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
}

/* Links */
a:visited,
a:link {
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #7dcade;
}

/* Lists */
ul {
  display: block;
  margin: auto;
  padding: 0;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li {
  margin-right: 40px;
}

/* Information component */
.info {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 25px;
  position: relative;
  font-size: 18px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.section-text {
  font-size: 18px;
}

.section-list {
  padding-left: 20px;
  font-size: 18px;
}

/* Buttons */
button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 14px;
  cursor: pointer;
}

button:active {
  background-color: black;
  transform: translateY(2px);
}

/* Education section */
.edu {
  padding-top: 5px;
  padding-bottom: 10px;
}


/* Information section */
.info {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 25px;
  text-align: center;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}



.title {
  font-size: 50px;
}

.mobile-nav-button {
  display: none;
  /* Hide the button by default on larger screens */
  cursor: pointer;
  margin-right: 15px;
}

.burger-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 6px auto;
  transition: transform 0.3s;
  position: relative;
}

.mobile-nav-active .burger-icon {
  transform: rotate(90deg);
}


/* Footer */
.footer {
  color: #000;
  font-weight: 100;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
  /* Push the footer to the bottom */
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
  /* Remove default margin */
  padding: 3px 0;
  /* Add a small padding to separate the two lines */
}

/* Code blocks */
code {
  background: #fffaee;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

/* Scrollbar styles */
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
    /* Adjust font size for smaller screens */
  }

  .mobile-nav-button {
    display: block;
    /* Show the button on smaller screens */
    margin-right: 10px; /* Add margin to create space between button and title */
    
  }

  .links.hidden {
    display: none; /* Hide the navigation menu links on larger screens */
  }

  .links {
    display: none;
  }

  .mobile-nav-active .header {
    flex-direction: column;

  }

  .mobile-nav-active .links {
    display: block;
    /* Show the links when mobile-nav-active class is applied */
  }
  
}

.navigation-menu {
  display: flex;
  flex-direction: column; /* Display links vertically */
  background-color: #fffaee; /* Add background color to links */
  padding: 10px; /* Add padding to links */
}

.navigation-menu a {
  font-size: 25px;
  margin: 5px 0;
  color: black; /* Add link color */
  text-decoration: none; /* Remove underline */
}

.hidden {
  display:none;
}
